$light-red: #e63946;
$beige-color: #f1faee;
$green-light: #a8dadc;
$light-blue: #457b9d;
$dark-blue: #1d3557;
$darker-blue: #111a27;
$custom-white: #f1f1f1;

$colors: (
    "light-red": $light-red,
    "beige-color": $beige-color,
    "green-light": $green-light,
    "light-blue": $light-blue,
    "dark-blue": $dark-blue,
    "darker-blue": $darker-blue,
    "custom-white": $custom-white,
);
