.navbar {
    width: 100%;
    padding: calc($padding-y + 0.7rem) $padding-x;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    @include main-box-shadow;
    @include coloring(custom-white, bg);

    .row {
        width: 100%;
        @include flex-between-row;
    }

    &__logo {
        text-transform: capitalize;
        font-size: 2.4rem;
        font-weight: 500;

        @include breakpoint(tablet) {
            font-size: 2rem;
        }

        &__link {
            @include coloring(dark-blue, txt);
        }
    }

    &__list {
        position: relative;
        @include flex-between-row;
        gap: 2rem;
        @include coloring(custom-white, bg);

        @include breakpoint(tablet) {
            --main-width: 60%;
            width: var(--main-width);
            padding: calc($padding-y + 0.7rem) 0;
            position: absolute;
            top: calc($padding-y * 8);
            left: calc((100% - var(--main-width)) / 2);
            border-radius: 1.3rem;
            @include flex-between-column;
            @include main-box-shadow;
            @include fade(hide);
            @include transition-ease-in(all, 0.4);
            transform: scale(0);
            transform-origin: top right;
            z-index: 99999;

            &.active {
                @include fade(show);
                transform: scale(1);
            }
        }

        @include breakpoint(mobile) {
            --main-width-2: 90%;
            width: var(--main-width-2);
            padding: calc($padding-y + 0.3rem) 0;
            position: absolute;
            top: calc($padding-y * 7);
            left: calc((100% - var(--main-width-2)) / 2);
        }

        &__item {
            position: relative;
            padding: 0.8rem 0;
            border: 1px solid rgb(248, 248, 248);
            border-radius: 0.7rem;
            overflow: hidden;
            @include transition-ease-in(color, 0.2);

            @include breakpoint(tablet) {
                width: 70%;
                border-radius: 0.4rem;
                padding: 0.5rem 1.5rem;
                text-align: center;
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 0.7rem;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(0);
                transform-origin: top left;
                @include coloring(dark-blue, bg);
                @include transition-ease-in(transform, 0.2);

                @include breakpoint(tablet) {
                    border-radius: 0.4rem;
                }
            }

            &:nth-child(even)::before {
                transform-origin: bottom right;
            }

            &:nth-child(even):hover:before {
                transform: scale(1);
                transform-origin: top left;
            }

            &:nth-child(odd):hover:before {
                transform: scale(1);
                transform-origin: bottom right;
            }

            &__link {
                position: relative;
                padding: 0.7rem 1.5rem;
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: capitalize;
                letter-spacing: 0.1rem;
                @include coloring(dark-blue, txt);
                @include transition-ease-in(color, 0.25);

                @include breakpoint(tablet) {
                    width: 100% !important;
                    display: block;
                }
            }

            &:hover &__link {
                @include coloring(custom-white, txt);
            }
        }
    }

    &__toggler {
        width: 5rem;
        height: 4.5rem;
        padding: $padding-all;
        @include flex-between-column;
        cursor: pointer;
        display: none;

        @include breakpoint(tablet) {
            display: inline-flex;
        }

        span {
            width: 100%;
            height: 0.3rem;
            border-radius: 2rem;
            @include coloring(dark-blue, bg);
            @include transition-ease-in(all, 0.3);
        }

        &.active {
            span:nth-child(1) {
                transform: rotate(-45deg) translateY(1.1rem);
            }

            span:nth-child(2) {
                @include fade(hide);
                transform: translateX(-0.5rem);
            }

            span:nth-child(3) {
                transform: rotate(45deg) translateY(-1.1rem);
            }
        }
    }
}
